<h1>Users#show</h1>

<%= render 'books/side_bar', user_id: @user_id, book: @book %>

<h2>Books</h2>


<% @user_show.each do |f| %>
<table>
<tr>
<td>
  <%= link_to "/users/#{f.id}" do %>
  <%= image_tag f.get_profile_image(100,100) %>
  <% end %></td>
<td><%= link_to f.title, "/books/#{f.id}" %></td>
<td><%= f.body %></td>


</td></tr>
</table>

<% end %>







