

<div class='container px-5 px-sm-0'>
	<div class='row'>

<div>
  <%= flash[:notice] %>
</div>



<%= render 'side_bar', user_id: @user_id, book: @book %>


<div class="col-md-8 offset-md-1">
<h2>Books</h2>

  <table class="table table-hover table-inverse">
  <thead>
  <tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  </tr>
  </thead>

<% @book_all.each do |f| %>
  <tbody>
  <tr>
  <td>
  <%= link_to "/users/#{f.user.id}" do %>
  <%= image_tag f.user.get_profile_image(100,100) %>
  <% end %></td>
  <td><%= link_to f.title, "/books/#{f.id}" %></td>
  <td><%= f.body %></td>
  </tr>
  </tbody>
<% end %>

  </table>

 



</div>
</div>
</div>
