<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>


<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'side_bar', user_id: @user_id, book: @book %>
<h2>Book detail</h2>

<table>

<tr>
<td>
  <%= link_to "/users/#{@book_id.user.id}" do %>
  <%= image_tag @book_id.user.get_profile_image(100,100) %>
  <br>
  <%=  @book_id.user.name %>
  <% end %></td>
<td><%= link_to @book_id.title, "/books/#{@book_id.id}" %></td>
<td><%= @book_id.body %></td>

<td><%= link_to 'Edit', "/books/#{@book_id.id}/edit" %></td>
<td><%= link_to 'Destroy', "/books/#{@book_id.id}", method: :delete, "data-confirm" => "本当に消しますか？" %>
</td></tr>
</table>



