
<div class='container px-5 px-sm-0'>
	<div class='row'>


<%= render 'side_bar', user_id: @user_id, book: @book %>


<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<table class="table table-hover table-inverse">
<tbody>
<tr>
<td>
  <%= link_to "/users/#{@book_id.user.id}" do %>
  <%= image_tag @book_id.user.get_profile_image(100,100) %>
  <br>
  <%=  @book_id.user.name %>
  <% end %></td>
<td><%= link_to @book_id.title, "/books/#{@book_id.id}" %></td>
<td><%= @book_id.body %></td>

<% if @book_id.user == current_user %>
<td>
<%= link_to 'Edit', "/books/#{@book_id.id}/edit", class: "btn btn-sm btn-success" %>
</td>
<td><%= link_to 'Destroy', "/books/#{@book_id.id}", method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
</td>
<% else %>
      <td></td>
      <td></td>
    <% end %>
</tr>
</tbody>
</table>


</div>
</div>
</div>
